:root {
  --main-color: #64C4A4;
  --second-color: #1A0A52;
  --text-color: #666666;
  --bg-footer: #272727;
  --white: #fff;
  --black: #000;
  --radius: 10px;
  --transition: .3s all;
  --line-height:1.7;
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

$main-color: var(--main-color);
$second-color: var(--second-color);
$text-color: var(--text-color);
$bg-footer: var(--bg-footer);
$white: var(--white);
$black: var(--black);
$radius: var(--radius);
$shadow: var(--shadow);
$transition: var(--transition);
$line-height: var(--line-height);
