

body{
  // min-height: 2000px;
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 10px;
  }
}
// ! custom container fluid style
.container-fluid{
  padding-right: 50px;
  padding-left: 50px;
}
.auth-title{
  color: $second-color;
}
.validation-error{
  transform: translateY(-15px);
    display: inline-block;
    color: #e7152d;
    font-weight: 500;
    font-size: 14px;
}
